
.app_content{
    background-color: #242424;
}
.sign_out_btn{
    margin: .5rem;
}

.home_page{
    background-color: #472c2c;
    height: 100vh;
}

.home_header{
    display: flex;
    justify-items: top;
    align-items: flex-start;
}


.test_btns{
    display: flex;
    align-items: top;
    justify-content:center;
    margin: 1rem;
} 

